*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* .container{
    width:60%;
    height: 400px;
    background-color:rgb(45, 158, 189);
    margin-left: 20%;
    margin-top: 10%;
} */